<div class="tablefix">
    <ul class="fixed" id="reveal">
    <li class="priorityLogo"><div><a type="button"><img src="../../../assets/Images/MEDUZA PRODUCTION.jpg" alt="Meduza Production"></a></div></li>
    <li><div class="buzzdiv"><a class="buzz" href="index.php?page=contact">Contact</a></div></li>
    <li><div class="buzzdiv"><a class="buzz" href="index.php?page=expertise">Notre expertise</a></div></li>
    <li><div class="buzzdiv"><a class="buzz" href="index.php?page=services">Nos services</a></div></li>
    <li><div class="buzzdiv"><a class="buzz" href="index.php?page=expertise">L'équipe</a></div></li>
    <li><div class="buzzdiv"><a class="buzz" href="index.php?page=création">Nos Créations</a></div></li>
    <!-- <div class="text-center" style="padding-top: 7px;">
    <h3>MEDUZA</h3>
    </div> -->
</ul>
</div>