<div class="tablefix">
    <ul class="fixed border-b-2" id="reveal">
        <li class="priorityLogo"><div><a class="aLogo" routerLink="/Meduza-home" ><img class="logoG" src="../../../assets/Images/MEDUZA PRODUCTION.jpg" alt="Meduza Production"></a></div></li>
        <!-- <li class="priorityLogo"><div><button class="aLogo" (click)="goToBackOffice()" >BACK-OFFICE</button></div></li> -->
        <li><div class="buzzdiv"><a class="buzz" routerLink="/Meduza-home">Contact</a></div></li>
        <li><div class="buzzdiv"><a class="buzz" routerLink="/Meduza-home">Notre expertise</a></div></li>
        <li><div class="buzzdiv"><a class="buzz" routerLink="/Meduza-home">Nos services</a></div></li>
        <li><div class="buzzdiv"><a class="buzz" routerLink="/pageTeam">L'équipe</a></div></li>
        <li><div class="buzzdiv"><a class="buzz" routerLink="/pageCreation">Nos Créations</a></div></li>
    </ul>
</div>