<div class="tablefix">
    <ul class="fixed border-b-2" id="reveal">
        <li class="priorityLogo"><div><a class="aLogo" routerLink="/Meduza-home" ><img class="logoG" src="../../../assets/Images/MEDUZA PRODUCTION.jpg" alt="Meduza Production"></a></div></li>
        <li><div class="buzzdiv"><a class="buzz" href="index.php?page=contact">Contact</a></div></li>
        <li><div class="buzzdiv"><a class="buzz" href="index.php?page=expertise">Notre expertise</a></div></li>
        <li><div class="buzzdiv"><a class="buzz" href="index.php?page=services">Nos services</a></div></li>
        <li><div class="buzzdiv"><a class="buzz" href="index.php?page=expertise">L'équipe</a></div></li>
        <li><div class="buzzdiv"><a class="buzz" href="index.php?page=création">Nos Créations</a></div></li>
    </ul>
</div>