.parent{
    /* background-color: #f1f1f1; */
    background-color: black;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    src: url("/assets/font/Muli-Italic.ttf");
    font-family: "muli";
    color: white;
}