<div class="h-full w-screen bg-black flex flex-col items-center justify-around">
    <div class="flex flex-col justify-evenly h-1/2 w-4/6">        
        <h1 class="text-left text-2xl">Branding et conception graphique</h1>
        <p class="hidden md:block text-center">L’esthéthètique pour les marques est une chose innévitable et d’une grande puissance, étant une pièce fondatrice de votre stratégie de communication. Meduza met ainsi son équipe à l’oeuvre en s’immergeant dans votre univers pour vous proposer une identité visuelle unique, forte, en se bassant sur vos objectifs et qui reflète votre entreprise, en y transmettant des émotions et vos valeurs à vos clients. </p>
    </div>

    <div class="flex flex-row justify-around items-center h-1/2">        
        <div class="flex flex-col justify-evenly h-full">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="white" width="30px" height="30px">
                <path d="M0 0h24v24H0z" fill="none"/>
                <path d="M9 16.17L5.83 13L4.41 14.41L9 19L21 7L19.59 5.59L9 16.17z"/>
            </svg>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="white" width="30px" height="30px">
                <path d="M0 0h24v24H0z" fill="none"/>
                <path d="M9 16.17L5.83 13L4.41 14.41L9 19L21 7L19.59 5.59L9 16.17z"/>
            </svg>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="white" width="30px" height="30px">
                <path d="M0 0h24v24H0z" fill="none"/>
                <path d="M9 16.17L5.83 13L4.41 14.41L9 19L21 7L19.59 5.59L9 16.17z"/>
            </svg>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="white" width="30px" height="30px">
                <path d="M0 0h24v24H0z" fill="none"/>
                <path d="M9 16.17L5.83 13L4.41 14.41L9 19L21 7L19.59 5.59L9 16.17z"/>
            </svg>
        </div>
        <div class="flex flex-col text-xl justify-evenly h-full">
            <h1>Marque Identifiable et Mémorable</h1>
            <h1>Transmission d’émotion</h1>
            <h1>Elements Durable et Déclinable</h1>
            <h1>Cohérence avec l’esprit de marque</h1>
        </div>
    </div>
</div>