<div class="flex flex-col justify-center items-center max-h-fit w-full">
    


    <button class="control prev" (click)="onPreviousClick()">
        <span class="arrow left"></span>
      </button>
        <div class="relative overflow-hidden border-2 w-1/2 h-96">

            <ng-container *ngFor="let file of files; let i = index">
              <img
                *ngIf="i === currentSlide"
                [src]="file.url"
                class="slide"
              />
            </ng-container>
          
        </div>
        <button class="control next" (click)="onNextClick()">
            <span class="arrow right"></span>
          </button>
            

        <h1>DÉCOUVRE TOUTE NOS CRÉATIONS</h1>

</div>