<div class="h-full w-screen bg-black flex flex-col items-center justify-around">
    <div class="flex flex-col justify-evenly h-1/2 w-4/6">        
        <h1 class="text-left text-2xl">Community Management</h1>
        <p class="hidden md:block text-center">La visibilité sur les réseaux sociaux de nos jours c’est essentiel, c’est pour cela que nous vous aidons à créer une vraie communauté et la souder. Nous mettont notre créativité, notre rigeur et connaissance des supports pour gérer vos réseaux sociaux. Cela dans le but de communiquer de la meilleure des manières avec votre futur clientèle, d’intérargir régulièrement avec eux et de gagner en proximité avec votre audience pour créer une fidélisation sur le long terme.</p>
    </div>

    <div class="flex flex-row justify-around items-center h-1/2">        
        <div class="flex flex-col justify-evenly h-full">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="white" width="30px" height="30px">
                <path d="M0 0h24v24H0z" fill="none"/>
                <path d="M9 16.17L5.83 13L4.41 14.41L9 19L21 7L19.59 5.59L9 16.17z"/>
            </svg>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="white" width="30px" height="30px">
                <path d="M0 0h24v24H0z" fill="none"/>
                <path d="M9 16.17L5.83 13L4.41 14.41L9 19L21 7L19.59 5.59L9 16.17z"/>
            </svg>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="white" width="30px" height="30px">
                <path d="M0 0h24v24H0z" fill="none"/>
                <path d="M9 16.17L5.83 13L4.41 14.41L9 19L21 7L19.59 5.59L9 16.17z"/>
            </svg>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="white" width="30px" height="30px">
                <path d="M0 0h24v24H0z" fill="none"/>
                <path d="M9 16.17L5.83 13L4.41 14.41L9 19L21 7L19.59 5.59L9 16.17z"/>
            </svg>
        </div>
        <div class="flex flex-col text-xl justify-evenly h-full">
            <h1>Développer sa communauté</h1>
            <h1>Fidéliser ses clients</h1>
            <h1>Contenu adapté</h1>
            <h1>Respect des codes du réseau social</h1>
        </div>
    </div>
</div>