
  <!-- <div class="aspect-w-1 aspect-h-1 w-full overflow-hidden rounded-lg bg-gray-200 xl:aspect-w-7 xl:aspect-h-8">
    <embed src="{{ project.file }}" class="h-full w-full object-cover object-center group-hover:opacity-75">
  </div> -->
<div class="flex flex-col justify-center items-center">
  <!-- <h1 class="text-4xl font-bold text-blue-600">Titre</h1> -->
  <p class="text-green-600 font-bold text-lg">{{ project.title }}</p>
  <!-- <h1 class="text-4xl font-bold text-yellow-500">Video/Son/image</h1> -->
  <div *ngIf="file.type.includes('image'); else elseBlock">
    <img [src]="file.url" [alt]="file.name">
  </div>
  <ng-template #elseBlock>
    <div *ngIf="file.type.includes('video');">
      <video width="320" height="240" controls>
        <source [src]="file.url" [type]="file.type">
        Your browser does not support the video tag.
      </video>
    </div>
  </ng-template>
  <!-- <h1 class="text-4xl font-bold text-red-500">description</h1> -->
  <p class="mt-1 text-lg font-medium text-gray-900">{{ project.description }}</p>
</div>