<div class="h-screen bg-[url('/assets/Images/team.png')] bg-cover flex justify-center">
    <div class="h-screen w-3/6 flex flex-col text-left justify-center items-center align-middle ">
        <h1 class="self-start pb-8 text-5xl">UNE EQUIPE D'EXPERTS</h1>
        <p class="pb-8">Parce que, vos ambitions ont besoin d’une équipe animé par la passion de l’audiovisuelle Cette équipe est prête à répondre à votre défis</p>
        <a class="self-end" href="pageTeam"><button class="flex items-center justify-center bg-opacity-30 bg-white backdrop-blur-sm shadow-md rounded-lg text-2xl">Découvrez notre équipe !</button></a>
    </div>
</div>