<div class="benefit">
<div>
    <img src="../../assets/Images/benefit.png" alt="the cameraman looks at a model">
</div>
    <div class="flex">
        <h1 class="uppercase text-center">Nos Prestations</h1>
        <h1>Vidéo publicitaire</h1>
        <p>Ancre la présence de ta marque, 
            de manière récurrente et durable dans la tête des gens 
            avec une vidéo publicitaire. Nous mettons en scène 
            tes produits et services pour faire connaître ta marque. 
            Nous créons le meilleur cadre pour les spectateurs 
            pour une expérience mémorable</p>

            <p>Nous sommes prêt à répondre à votre défi</p>
        <a href="https://www.pierre-giraud.com/bootstrap-apprendre-cours/image-figure/"><button class="btn btn-welcome">Commande ta pub !</button></a>
    </div>
</div>