<div class="h-screen flex flex-col md:flex-row items-center justify-between bg-black">

  <img src="../../assets/Images/benefit.png" alt="the cameraman looks at a model" class="w-2/4">
  <div class="w-4/12 flex flex-col justify-start">
    <h1 class="uppercase self-center font-bold text-3xl mb-14">Nos Prestations</h1>
    <h2 class="text-2xl font-bold mb-4">OPTIMISATION SEO</h2>
    <p class="text-lg mb-4">Ancre la présence de ta marque, 
      de manière récurrente et durable dans la tête des gens avec une vidéo publicitaire. 
      Nous mettons en scène tes produits et services pour faire connaître ta marque. 
      Nous créons le meilleur cadre pour les spectateurs pour une expérience mémorable.</p>

    <p class="text-lg mb-4">Nous sommes prêt à répondre à votre défi</p>
    <a href="pageContact" class="self-start">
      <button class=" flex items-center justify-center bg-opacity-30 bg-white backdrop-blur-sm shadow-md rounded-lg text-2xl">Commande ta pub !</button>
    </a>
  </div>
</div>
