<div class="index bg-cover flex bg-center min-h-screen justify-center content-center">
    <div class="min-h-max flex">
        <div class="description-presentation">
            <h1>MEDUZA PRODUCTION</h1>
            <p>Vous fige dès le premier regard</p>
            <a href="https://www.pierre-giraud.com/bootstrap-apprendre-cours/image-figure/"><button class="btn btn-welcome">En savoir plus !</button></a>
        </div>
        
        <iframe class="w-3/4 " src="https://www.youtube.com/embed/BCuHYDn1OAQ" title="MINDFLOOD" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</div>

<app-team></app-team>
<app-benefit></app-benefit>
<app-creation></app-creation>