<div class="index">
    <div class="presentation">
        <div class="description-presentation">
            <h1>MEDUZA PRODUCTION</h1>
            <p>Vous fige dès le premier regard</p>
            <a type="button"class="btn btn-welcome"><p class="p-welcome">En savoir Plus</p></a>
        </div>
        
        <iframe class="video" src="https://www.youtube.com/embed/BCuHYDn1OAQ" title="MINDFLOOD" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</div>