<div class="flex flex-col bg-center min-h-screen justify-center items-center align-middle content-center">
  <div class="pt-10 w-full h-screen bg-[url('/assets/Images/team/rectangle_56.png')] bg-cover flex items-center justify-around">

    
    <img class="w-2/6 " src="assets/Images/MEDUZA PRODUCTION.jpg" alt="Logo Meduza">
    <div class="w-3/6 flex flex-col">
      <h1 class="text-4xl pb-5">Meduza, votre agence de communication montpellieraine</h1>
      <p class="text-lg mb-4">Créer en 2022, Meduza est une agence de communication sous un régime d’association, créer par une bande d’étudiant voulant partager leurs passion des nouvelles technologies. 

        Nous avons donc décidé, comme une évidence de nous lancer afin de construire notre avenir dans ce secteur et proposer notre vision du commerce à nos clients.
        
        Notre objectif est d’etre proche de vous, afin de  raconter votre histoire, de mettre en lumière vos offres ou encore votre entreprise afin que cela correspond à vos attentes et à votre imagination.
        
        Mieux encore avec la Meduse nous représentant, nous nous engageons à vous surprendre, en mettant la créativité au coeur de chaque projets.</p>
    </div>


  </div>
  <div class="h-screen bg-black flex flex-col justify-center items-center">
    <h1 class="text-4xl pb-5 uppercase">la team Meduza</h1>

    <div class="w-full flex flex-row justify-center items-center">
      <img class="w-2/12 h-4/6 rounded-3xl " src="assets/Images/team/stephane.png" alt="stephane responsable marqueting">
      <img class="w-2/12 h-4/6 rounded-3xl pl-3" src="assets/Images/team/mateo.png" alt="mateo">
      <img class="w-2/12 h-4/6 rounded-3xl pl-3" src="assets/Images/team/stephane.png" alt="stephane responsable marqueting">
      <img class="w-2/12 h-4/6 rounded-3xl pl-3" src="assets/Images/team/stephane.png" alt="stephane responsable marqueting">
    </div>
    <button class="flex items-end justify-center bg-opacity-30 bg-white backdrop-blur-sm shadow-md rounded-lg text-2xl pr-3 pl-3">CONTACTEZ NOUS</button>


  </div>
  <div class="h-screen bg-[url('/assets/Images/team/calque_0_1.png')] bg-cover bg-bottom flex flex-col justify-center items-center">
    <h1 class="text-4xl pb-5 uppercase">pourquoi nous choisir</h1>

    <div class="w-full flex flex-row justify-between items-center pt-10">
      <div class="w-3/6">      
        
      </div>

      <div class="w-3/6">      
        <p class=" text-lg mb-4">Une mise en avant de votre entreprise et de vos idées avant tout. Dans le but de faire vivre vos reves et de mettre l’accent auprès de votre clientèle, votre passion.</p>
      </div>

    </div>
    <div class="w-full flex flex-row justify-center items-center">
      <div class="w-3/6 ">      
        
      </div>

      <div class="w-3/6">      
        <p class=" text-lg mb-4">Une expérience sur son secteur d’activité de par ces compétences diversifiés, sa créativité, que l’on souhaite vous partager à travers la réalisation de vos projets. Le tout sublimer par un esprit d’équipe qui se pousse à la perfection pour vous satisfaire.</p>
      </div>

    </div>
    <div class="w-full flex flex-row justify-center items-center">
      <div class="w-3/6 ">      
        
      </div>

      <div class="w-3/6">      
        <p class=" text-lg mb-4">Des engagements en lien avec notre société d’aujourd’hui, qui sont mis en lumière par nos action et partagé avec nos entreprises partenaires. </p>
      </div>

    </div>
    <div class="flex flex-row justify-center items-center pt-10">
      <div class="w-3/6 flex flex-col items-center">
        <p class=" text-lg mb-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer blandit sem venenatis orci porta ultricies. Etiam ultrices, erat in ullamcorper tincidunt, nibh nulla bibendum nulla,
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer blandit sem venenatis orci porta ultricies. Etiam ultrices, erat in ullamcorper tincidunt, nibh nulla bibendum nulla
          </p>
      <a routerLink="/pageDevis">
        <button class="w-3/6 flex items-end justify-center bg-opacity-30 bg-white backdrop-blur-sm shadow-md rounded-lg text-2xl pr-3 pl-3 uppercase">
          Devis gratuit
        </button>
      </a>

  
      </div>
      <div class="w-3/6">
        
      </div>
    </div>


  </div>
</div>
